<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNgMavenExampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>17/09/29 13:54:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.appTest()[pri:0, instance:com.capgemini.tmobile.AppTest@3e6fa38a]">appTest</td> 
  <td>main@239465106</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/09/29 13:54:34</td>   <td>-32</td> <td>&nbsp;</td><td title="&gt;&gt;AppTest.beforeTest()[pri:0, instance:com.capgemini.tmobile.AppTest@3e6fa38a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@239465106</td>   <td></td> </tr>
</table>
