<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>GoogleTestNgSuit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d992b2">  <td>17/10/03 15:21:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePageTest.openGoogleHomePageWithDifferentBrowsersTest(com.capgemini.beans.TestData)[pri:0, instance:com.capgemini.tmobile.GoogleHomePageTest@4b4523f8]">openGoogleHomePageWithDifferentBrowsersTest</td> 
  <td>TestNG-test=Default test-1@1842846298</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/10/03 15:21:36</td>   <td>14468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePageTest.openGoogleHomePageWithDifferentBrowsersTest(com.capgemini.beans.TestData)[pri:0, instance:com.capgemini.tmobile.GoogleHomePageTest@4b4523f8]">openGoogleHomePageWithDifferentBrowsersTest</td> 
  <td>TestNG-test=Default test-1@1842846298</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/10/03 15:21:47</td>   <td>25185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleHomePageTest.openGoogleHomePageWithDifferentBrowsersTest(com.capgemini.beans.TestData)[pri:0, instance:com.capgemini.tmobile.GoogleHomePageTest@4b4523f8]">openGoogleHomePageWithDifferentBrowsersTest</td> 
  <td>TestNG-test=Default test-1@1842846298</td>   <td></td> </tr>
<tr bgcolor="d992b2">  <td>17/10/03 15:23:25</td>   <td>123907</td> <td>&nbsp;</td><td title="&lt;&lt;GoogleHomePageTest.shutDownSelenium()[pri:0, instance:com.capgemini.tmobile.GoogleHomePageTest@4b4523f8]">&lt;&lt;shutDownSelenium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@762227630</td>   <td></td> </tr>
</table>
